In [2]:
# Dependencies and Setup
import pandas as pd
pd.options.display.float_format = '${:,.2f}'.format

# File to Load (Remember to Change These)
file_to_load = "/Users/himadevulapalli/Documents/Tech/GTATL201908DATA3/02 - Homework/04-Pandas/Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [6]:
#Player Count
Total_Players = purchase_data["SN"].nunique()
print("Player Count")
print("--------------")
print("Total Number of Players: {}".format(Total_Players))

Player Count
--------------
Total Number of Players: 576

In [144]:
#Unique Item Count
Unique_Items = purchase_data["Item ID"].nunique()

#print("Number of Unique Items : {}".format(Unique_Items))

Number of Unique Items : 183

In [138]:
Avg_Price = purchase_data["Price"].mean()

#print("Average Price: ${}".format(round(Avg_Price,2)))

In [139]:
Total_Purchases = purchase_data["Purchase ID"].nunique()

#print("Number of Purchases: {}".format(Total_Purchases))

In [156]:
Total_Revenue = purchase_data["Price"].sum()

#print("Total Revenue : ${:,}".format(Total_Revenue))

In [159]:
#purchase_data["Age"].min()
#7
#purchase_data["Age"].max()
#45

In [160]:

Summary_data = [[ Total_Players, Unique_Items, "${:,}".format(round(Avg_Price,2)), "${:,}".format(Total_Revenue)]]

In [161]:
Summary_Df = pd.DataFrame(Summary_data, columns=["Total_Players", "Unique_Items", "Avg_Price", "Total_Revenue"])

In [162]:
print("Purchasing Analysis (Total)")
print("-------------------------------")
Summary_Df

Purchasing Analysis (Total)
-------------------------------

   Total_Players  Unique_Items Avg_Price Total_Revenue
0            576           183     $3.05     $2,379.77

In [163]:
#Group by Gender

pdata_slice = purchase_data[[ "SN","Gender"]]
pdata_slice_mod = pdata_slice.drop_duplicates()

In [167]:
gender_counts_df = pdata_slice_mod.groupby("Gender").count()

In [168]:
#gender_counts_df

In [169]:
gender_counts_df['Percentage of players'] = pdata_slice_mod.groupby("Gender").count().apply(lambda x: round(100 * x / float(x.sum()),2)).astype(str)+"%"

In [170]:
gender_counts_df = gender_counts_df.rename(columns={'SN':'Total Count'})

In [172]:
print("Gender Demographics")
print("----------------------")
gender_counts_df

Gender Demographics
----------------------

                       Total Count Percentage of players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [173]:
purchase_price_slice = purchase_data[["Gender", "Price"]]
purchase_price_slice['Price_Copy'] = purchase_price_slice['Price']

/Users/himadevulapalli/anaconda2/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
purchase_price_slice

     Gender  Price  Price_Copy
0      Male   3.53        3.53
1      Male   1.56        1.56
2      Male   4.88        4.88
3      Male   3.27        3.27
4      Male   1.44        1.44
..      ...    ...         ...
775  Female   3.54        3.54
776    Male   1.63        1.63
777    Male   3.46        3.46
778    Male   4.19        4.19
779    Male   4.60        4.60

[780 rows x 3 columns]

In [178]:
purchase_price_slice_g = purchase_price_slice.groupby(
    ['Gender']
).agg(
    {
        'Gender': "count",
        'Price': "mean",
        'Price_Copy': "sum"
    }
)

In [179]:
gender_counts_df

                       Total Count Percentage of players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [180]:
purchase_price_slice_g['Avg Total Purchase per Person'] = purchase_price_slice_g['Price_Copy']/gender_counts_df['Total Count']

In [181]:
purchase_price_slice_g= purchase_price_slice_g.rename(columns={'Gender':'Purchase Count', 'Price':'Average Purchase Price', 'Price_Copy':'Total Purchase Value'})

In [182]:
purchase_price_slice_g['Avg Total Purchase per Person'] =  "$" + purchase_price_slice_g['Avg Total Purchase per Person'].apply(lambda x: round(x,2)).astype(str)

In [183]:
purchase_price_slice_g['Average Purchase Price'] =  "$" + purchase_price_slice_g['Average Purchase Price'].apply(lambda x: round(x,2)).astype(str)

In [185]:
print(" Purchasing Analysis (Gender)")
print("-------------------------------")

purchase_price_slice_g

 Purchasing Analysis (Gender)
-------------------------------

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [186]:
# Create bins in which to place values based upon TED Talk views
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [187]:
# Slice the data and place it into bins
purchase_data["Age Ranges"]=pd.cut(purchase_data["Age"], bins, labels=group_labels)

In [188]:
pd.cut(purchase_data["Age"], bins, labels=group_labels) #
#, retbins=True)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [189]:
purchase_data = purchase_data.sort_values(by=['Age Ranges'])

In [190]:
purchase_percent_df = purchase_data[['SN','Age Ranges']].drop_duplicates().groupby(by=['Age Ranges']).count()

In [191]:
print(purchase_data[['SN','Age Ranges']].drop_duplicates().groupby(by=['Age Ranges']).count())

             SN
Age Ranges
<10          17
10-14        22
15-19       107
20-24       258
25-29        77
30-34        52
35-39        31
40+          12

In [192]:
purchase_percent_df['Percentage of Players'] = purchase_percent_df.apply(lambda x: round(100 * x / float(x.sum()),2)).astype(str)+"%"

In [254]:
purchase_percent_df = purchase_percent_df.rename (columns={'SN':'Total Count'} )

In [255]:
print("Age Demographics")
print("-------------------")

purchase_percent_df

Age Demographics
-------------------

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [256]:
#purchase_data["Age Ranges"].value_counts().sort_index()

In [257]:
#print(purchase_data[['Age Ranges', 'SN']].groupby(by=['Age Ranges']).count())

In [258]:
purchase_data['Total Purchase Value'] = purchase_data['Price']

In [259]:
purchase_data["Purchase Count"] = purchase_data["Age Ranges"]

In [260]:
purchase_data["Average Purchase Price"] = purchase_data["Price"]

In [261]:
purchase_price_agerange_g = purchase_data.groupby(
    ['Age Ranges']
).agg(
    {
        'Purchase Count': "count",
        'Average Purchase Price': "mean",
        'Total Purchase Value': "sum"
    }
)

In [262]:
purchase_price_agerange_g['Avg Total Purchase per Person'] = purchase_price_agerange_g['Total Purchase Value']/purchase_percent_df['Total Count']

In [263]:
print(" Purchasing Analysis (Age)")
print("----------------------------")
purchase_price_agerange_g

 Purchasing Analysis (Age)
----------------------------

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [237]:
purchase_data["Average Purchase Price"] = purchase_data["Price"]

In [239]:
purchase_data["Total Purchase Value"] = purchase_data["Price"]

In [240]:
top_spenders_df = purchase_data.groupby(
    ["SN"]
).agg(
    {
        'Purchase ID': "count",
        'Average Purchase Price': "mean",
        'Total Purchase Value': "sum"
    }
)

In [283]:
print("Top Spenders")
print("---------------")
top_spenders_df.sort_values("Total Purchase Value", ascending=False).head(5)

Top Spenders
---------------

             Purchase ID  Average Purchase Price  Total Purchase Value
SN
Lisosia93              5                   $3.79                $18.96
Idastidru52            4                   $3.86                $15.45
Chamjask73             3                   $4.61                $13.83
Iral74                 4                   $3.41                $13.62
Iskadarya95            3                   $4.37                $13.10

In [284]:
#purchase_data.groupby(["SN"]).sum().to_csv('results.csv')

In [285]:
#purchase_data[purchase_data["SN"]=="Aelin32"]

In [286]:
item_df = purchase_data[["Item ID", "Item Name"]]
item_df["Item Price"] = purchase_data[["Price"]]

/Users/himadevulapalli/anaconda2/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [287]:
item_df["Purchase Count"] = item_df["Item ID"]

/Users/himadevulapalli/anaconda2/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [288]:
item_df["Total Purchase Value"] = item_df["Item Price"]

/Users/himadevulapalli/anaconda2/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [289]:
most_popular_df = item_df.groupby(
    ['Item ID', "Item Name", "Item Price"]
).agg(
    {
        'Purchase Count':"count",
        'Total Purchase Value': "sum"
    }
)

In [290]:
#most_popular_df = most_popular_df.rename(columns={'Price':'Item Price'})

In [292]:
print("Most Popular Items")
print("--------------------")
most_popular_df.sort_values("Purchase Count", ascending=False).head(5)

Most Popular Items
--------------------

,,,Purchase Count,Total Purchase Value
Item ID,Item Name,Item Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
145,Fiery Glass Crusader,$4.58,9,$41.22
108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
82,Nirvana,$4.90,9,$44.10
19,"Pursuit, Cudgel of Necromancy",$1.02,8,$8.16

In [294]:
print("Most Profitable Items")
print("----------------------")
most_popular_df.sort_values("Total Purchase Value", ascending=False).head(5)

Most Profitable Items
----------------------

,,,Purchase Count,Total Purchase Value
Item ID,Item Name,Item Price,,
178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
82,Nirvana,$4.90,9,$44.10
145,Fiery Glass Crusader,$4.58,9,$41.22
92,Final Critic,$4.88,8,$39.04
103,Singed Scalpel,$4.35,8,$34.80